<!DOCTYPE html>
<html lang="en">
  <%-include('partials/header') %>
<body>
    <%-include('partials/nav') %>
    <header><h1>Welcome to home page babu!!</h1></header>
    <main>
    <form action="/host/add-home" method="POST">
        <input type="text" name="housename"/>
        <input type="submit" value="submit"/>
    </form> 
    </main> 
</body>
</html>