<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
</head>
<body>
    <%- include('partials/nav') %>
    <h1>Home registered succesfully babu!!</h1>
        <a href="/user" > back to home </a>
</body>
</html>