
    <nav id="main-nav" style="background-color: black; color: whitesmoke;display: flex;gap: 30px; padding: 20px;align-items: center;">
        <a href="/user" style="list-style: none;color: whitesmoke;">Home Page</a>
        <a href="/host/add-home" style="list-style: none;color: whitesmoke;">Add home</a>
        <a href="/user/bookings" style="list-style: none;color: whitesmoke;">Bookings</a>
        <a href="/user/fav-list" style="list-style: none;color: whitesmoke;">Favrouite List</a>
          <a href="/user/index" style="list-style: none;color: whitesmoke;">Index</a>
           <a href="/host/host-home-list" style="list-style: none;color: whitesmoke;">Host Homes</a>

    </nav>
