
    <nav id="main-nav" style="background-color: black; color: whitesmoke;display: flex;gap: 30px; padding: 20px;align-items: center;">
        <a href="/user" style="list-style: none;color: whitesmoke;">Home Page</a><a href="/host/add-home" style="list-style: none;color: whitesmoke;">Add home</a>
    </nav>
